<h1>Listing usbs</h1>

<table>
  <tr>
    <th>Fabaid</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usbs.each do |usb| %>
  <tr>
    <td><%= usb.fabaid %></td>
    <td><%= usb.type %></td>
    <td><%= link_to 'Show', usb %></td>
    <td><%= link_to 'Edit', edit_usb_path(usb) %></td>
    <td><%= link_to 'Destroy', usb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usb', new_usb_path %>
