<p id="notice"><%= notice %></p>

<p>
  <b>Fabaid:</b>
  <%= @usb.fabaid %>
</p>

<p>
  <b>Type:</b>
  <%= @usb.type %>
</p>


<%= link_to 'Edit', edit_usb_path(@usb) %> |
<%= link_to 'Back', usbs_path %>
